<IfModule mod_expires.c>
    ExpiresActive On

    # Expire after 1 week for CSS and JavaScript
    ExpiresByType text/css "access plus 1 minute"
    ExpiresByType application/x-javascript "access plus 1 minute"
    ExpiresByType application/javascript "access plus 1 minute"

    # Expire after 1 month for images (GIF, PNG, JPEG)
    ExpiresByType image/gif "access plus 1 minute"
    ExpiresByType image/png "access plus 1 minute"
    ExpiresByType image/jpeg "access plus 1 minute"

    # Expire after 1 year for favicon
    ExpiresByType application/x-icon "access plus 1 minute"

    # Default expiration after 10 days
    ExpiresDefault "access plus 10 minutes"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^www\.negociocitas\.online [NC]
    RewriteRule ^(.*)$ https://negociocitas.online/$1 [L,R=301]
    RewriteCond %{HTTPS} ==on
    RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
    RewriteRule ^ %1 [L,NE,R=302]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>